body {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
}

.emoji {
  border: 1px solid #222;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emoji h2 {
  margin: 0;
  border-bottom: 2px solid #ccc;
}

.emoji a {
  text-decoration: none;
  background-color: #781BAA;
  
  border: none;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  cursor: pointer;
  margin-top: auto;
}

.emoji a:hover,
.emoji a:focus {
  color: #781baa;
  background-color: white;
  border: 1px solid #781BAA;
}

.icon {
  font-size: 4rem;
}

.emojis {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

@media (min-width: 37.5em) {
  .emojis {
    grid-template-columns: repeat(2, 1fr);
  }
}